$fontSize--small  = 13px
$fontSize--medium = 20px
$font-size--h1    = 40px

$baseline         = 22px
$record           = 67px

$red              = #F2385A
$yellow           = #E8BB03
$white            = #FFFFFA
$green            = #74BB41
$teal             = #36B58A
$black            = #686868
$bege             = #E6BD93

view()
  height 100%
  display flex
  flex-flow column wrap
  text-align center
  position absolute
